 <!-- Breadcrumb -->
 <section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="bb-breadcrumb-title">Register</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="bb-breadcrumb-list">
                            <li class="bb-breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li><i class="ri-arrow-right-double-fill"></i></li>
                            <li class="bb-breadcrumb-item active">Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register -->
<section class="section-register padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-register" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title bb-center">
                                <div class="section-detail">
                                    <h2 class="bb-title">Register</h2>
                                    <p>Best place to buy and sell HandMade products</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <form  [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                                <div class="bb-register-wrap bb-register-width-50">
                                    <label>Display Name*</label>
                                    <input formControlName="displayName" type="text" placeholder="Enter Display name" />
                           <div *ngIf="submitted && RegisterForm.controls['displayName'].errors" class="text-danger">Display name is required.</div>
                                
                        </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>User Name*</label>
                                        <input type="text" formControlName="userName" placeholder="Enter your User name" required>
                                        <div *ngIf="submitted && RegisterForm.controls['userName'].errors" class="text-danger">User Name name is required.</div>
                              
                                    </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Email*</label>
                                        <input type="email" formControlName="email" placeholder="Enter your Email" required>
                                        <div *ngIf="submitted && RegisterForm.controls['email'].errors" class="text-danger">email name is required.</div>
                              
                                    </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Phone Number*</label>
                                        <input type="text" formControlName="phonenumber" placeholder="Enter your phone number" required>
                                        <div *ngIf="submitted && RegisterForm.controls['phonenumber'].errors" class="text-danger">phonenumber is required.</div>
                              
                                    </div>
                                    
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Password*</label>
                                        <input type="password" formControlName="password" placeholder="Enter your password" required>
                                        <div *ngIf="submitted && RegisterForm.controls['password'].errors" class="text-danger">password is required.</div>
                              
                                    </div>
                                
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Confirm Password*</label>
                                        <input type="password" formControlName="confirmpassword" placeholder="Enter your confirm password" required>
                                        <div *ngIf="submitted && RegisterForm.controls['confirmpassword'].errors" class="text-danger">confirm password is required.</div>
                              
                                    </div>
                                  
                                    <div class="bb-register-button">
                                        <button type="submit" class="bb-btn-2">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>