<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<div class="container py-5">
  <div class="row">
    <!-- Cart Section -->
    <div class="col-md-7">
      <div
        class="d-flex shadow-sm bg-light align-items-center justify-content-between mb-4 p-3 rounded-3"
      >
        <h5 class="fw-bold">Shopping Cart</h5>
        <a href="#" class="text-decoration-none text-muted">Clear All</a>
      </div>

      <div class="p-3 bg-light">
        <!-- <button type="button" class="btn btn-primary" (click)="openAddressModal()">
    Open Address Modal
  </button> -->
  

  <!-- Item 1 -->
  @if (cartData.cartItems?.length == 0) {
    <div class="text-center py-5">
      <h4 class="text-muted">Your cart is empty</h4>
      <a href="#" class="btn btn-primary">Continue Shopping</a>
    </div>
}@else {
  
  @for (item of cartData.cartItems; track $index) {
    <div class="rounded-2 p-2 border">
      <div class="d-flex align-items-center gap-2 mb-3 ">
        <img src={{imageBaseUrl}}{{item.photoUrl}} class="rounded-circle" alt="shop logo">
        <!-- onclick="getTrader(item.sellerId)" -->
        <h6 class="mb-0" 
        
        >{{item.sellerName}}</h6>
        <i class="bi bi-three-dots-vertical ms-auto"></i>
      </div>
      <div class="d-flex gap-3 mb-3">
        <img src={{imageBaseUrl}}{{item.photoUrl}} class="rounded" alt="Product Image" width="100" height="100">
        <div class="flex-grow-1">
          <h6 class="fw-semibold">{{item.productName}}</h6>
          <div class="d-flex flex-wrap gap-2 my-1">
           <div>
            <div class="d-flex flex-wrap gap-2 my-1">
              @if (item.color !=null) {
                <span class="badge bg-secondary">Color: {{item.color}}</span>
              }
              @if (item.size !=null) {
                <span class="badge bg-secondary">Size: {{item.size}}</span>
              }
           
              </div>
              @if (item.customizeInfo !=null) {
                <span class="badge bg-secondary">Customize Info: {{item.customizeInfo}}</span>
              }
           
             
           </div>
            <div class="ms-auto text-end ">
              @if (item.activeSale !=null && item.priceAfterSale !=null) {
                <span class="badge bg-success">{{item.activeSale}} % off</span><br>
                <strong class="text-success">EGP {{ item.priceAfterSale}}</strong><br>
                <small class="text-muted text-decoration-line-through">EGP {{item.price}}</small>
              }
              @else{
                <strong class="text-success">EGP {{item.price}}</strong><br>
              }
            
              <!-- <small class="text-muted text-decoration-line-through">EGP {{item.price}}</small> -->
            </div>
          </div>
         
    
          <div class="d-flex align-items-center gap-2 mt-2">
            <div class="quantity-selector">
              <span (click)="Decrease(item.itemId)">&#8722;</span>
              <span>{{ item.quantity }}</span>
              <span (click)="Increase(item.itemId)">&#43;</span>
            </div>
            
            <a href="#" class="text-decoration-underline small">Edit</a>
            <a href="#" class="text-decoration-underline small">Save for later</a>
            <a (click)="RemoveItem(item.itemId)" class="text-decoration-underline text-danger small">Remove</a>
            
          </div>
        </div>
      </div>
    </div>
    

    <hr class="border-top my-3 " />
  }
}

 
  
</div>
    </div>
    <!-- Summary Section -->
    <div class="col-md-5">
      <div class="bg-light p-3 rounded shadow-sm mb-3">
        <h5 class="fw-bold" (click)="openModal()">
          <i class="fa-solid fa-location-dot"></i> Deliver To
        </h5>
        <div *ngIf="addressSelected" class="alert alert-info mt-3">
          Selected Delivery Address: <br />
          <strong>{{ addressSelected.city }} - {{ addressSelected.country }}</strong><br />
          {{ addressSelected.region }}<br />
          {{ addressSelected.phoneNumber }}
        </div>
        
        
      </div>

      <div class="bg-light p-4 rounded shadow-sm">
        <h5 class="fw-bold mb-4">Order Summary</h5>

          <div class="d-flex justify-content-between mb-2">
            <span>Sub Total</span>
            <span>{{subTotal}}</span>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span>Delivery Charges</span>
            <span>{{deliveryCost}}</span>
          </div>
          <hr> 
          <div class="d-flex justify-content-between fw-bold">
            <span>Total Amount</span>
            <span>EGP {{total}}</span>
          </div>
          <div class="d-flex justify-content-lg-center fw-bold w-100 mt-4">
            <button class="btn btn-success btn-lg w-100">Check out →</button>
          </div>
        
      
    </div>
  </div>
</div>

<!-- Button to open modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openModal()">Open Popup</button> -->

<!-- Modal HTML -->
<div
  class="modal fade w-100 p-5"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="popupTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-between align-items-center"
      >
        <h5 class="modal-title" id="popupTitle">Delivery Locations</h5>
        <button
          type="button"
          class="close"
          (click)="closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Here you can put your popup component or content -->
        <app-address-pop-up
          [addresses]="addresses"
          (selectedAddress)="onSelectedAddress($event)"
        ></app-address-pop-up>
        <!-- OR just any content -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="Confirm()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Icons -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  rel="stylesheet"
/>
