
 <!-- Breadcrumb -->
 <section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="bb-breadcrumb-title">About Us</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="bb-breadcrumb-list">
                            <li class="bb-breadcrumb-item">
                               Home >></li>
                            <!-- <li><i class="ri-arrow-right-double-fill"></i></li> -->
                            <li class="bb-breadcrumb-item active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
  <section class="section-about padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-6 col-12 mb-24">
                <div class="bb-about-img">
                    <img class="w-75 rounded-4" src="../../../assets/img/pexels-julieaagaard-2766334.jpg" alt="about-one">
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-24">
                <div class="bb-about-contact">
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">About the <span>HandOra</span></h2>
                        </div>
                    </div>
                    <div class="about-inner-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <h4>🌿 Handmade Products: Crafted with Love and Purpose</h4>
                        <p>Handmade products are more than just items — they’re a reflection of creativity, skill, and personal touch. Each piece tells a story, shaped by the hands of passionate artisans who pour heart and soul into their work. Unlike mass-produced goods, handmade creations offer uniqueness, authenticity, and a connection to real craftsmanship.</p>
                        <p>Whether it’s a handwoven basket, a custom piece of jewelry, or eco-friendly home decor, every handmade item brings a sense of individuality and charm to your life. Supporting handmade means supporting local talent, sustainable practices, and fair trade — it's a choice that values quality over quantity.

                            When you choose handmade, you’re not just buying a product — you’re investing in a meaningful experience.</p>
                    </div>
                    <div class="bb-vendor-rows row mb-minus-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <div class="col-sm-4 mb-24">
                            <div class="bb-vendor-box">
                                <div class="bb-count">
                                    <h5 class="counter">200 +</h5>
                                </div>
                                <div class="inner-text">
                                    <p>vendors</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-24">
                            <div class="bb-vendor-box">
                                <div class="bb-count">
                                    <h5 class="counter">654k +</h5>
                                </div>
                                <div class="inner-text">
                                    <p>Sales</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-24">
                            <div class="bb-vendor-box">
                                <div class="bb-count">
                                    <h5 class="counter">587k +</h5>
                                </div>
                                <div class="inner-text">
                                    <p>Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="section-services padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">Our <span>Services</span></h2>
                        <p>Customer service should not be a department. It should be the entire company.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="bb-services-box">
                    <div class="services-img">
                        <img src="../../../assets/img/services/1.png" alt="services-1">
                    </div>
                    <div class="services-contact">
                        <h4>Free Shipping</h4>
                        <p>Free shipping on all Us order or above $200</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="bb-services-box">
                    <div class="services-img">
                        <img src="../../../assets/img/services/2.png" alt="services-2">
                    </div>
                    <div class="services-contact">
                        <h4>24x7 Support</h4>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="bb-services-box">
                    <div class="services-img">
                        <img src="../../../assets/img/services/3.png" alt="services-3">
                    </div>
                    <div class="services-contact">
                        <h4>30 Days Return</h4>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="bb-services-box">
                    <div class="services-img">
                        <img src="../../../assets/img/services/4.png" alt="services-4">
                    </div>
                    <div class="services-contact">
                        <h4>Payment Secure</h4>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>