<section class="section-login padding-tb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="section-title bb-center"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <div class="section-detail">
            <h2 class="bb-title">Send <span>PIN Code</span></h2>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div
          class="bb-login-contact"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <div *ngIf="errorMessage" class="text-center alert alert-danger">
            {{ errorMessage }}
          </div>
          <form [formGroup]="sendPinCodeForm" (ngSubmit)="onSubmit()">
            <div class="bb-login-wrap">
              <label for="email">Email*</label>
              <input
                type="email"
                autocomplete="on"
                id="email"
                name="email"
                formControlName="email"
                placeholder="Enter Your Email"
                [ngClass]="{
                  'is-invalid': f['email'].invalid && f['email'].touched
                }"
              />
              <div
                *ngIf="f['email'].invalid && f['email'].touched"
                class="invalid-feedback"
              >
                <div *ngIf="f['email'].errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="f['email'].errors?.['email']">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <button class="bb-btn-2" type="submit" (click)="onSubmit()">
              <span *ngIf="isLoading">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
              <span *ngIf="!isLoading">Send PIN Code</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
