<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>

<section class="py-5">
  <div class="container">
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">loading...</span>
      </div>
    </div>

    <div
      *ngIf="!isLoading && totalCount === 0"
      class="alert alert-info text-center"
      role="alert"
    >
      <strong>Your Favorites List is Empty!</strong> Start exploring and add
      products you love to your favorites.
    </div>

    <div *ngIf="!isLoading && totalCount != 0" class="card mb-4 p-3">
      <div>
        <div class="row g-3 align-items-center">
          <div class="col-md-4">
            <!-- <label for="category" class="form-label">Category</label> -->
            <select
              id="category"
              class="form-select"
              [(ngModel)]="filters.categoryId"
            >
              <option [ngValue]="null">All Categories</option>
              <option
                *ngFor="let category of categories"
                [ngValue]="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>

          <div class="col-md-3">
            <!-- <label for="minPrice" class="form-label">Min Price</label> -->
            <input
              type="number"
              id="minPrice"
              class="form-control"
              min="1"
              [(ngModel)]="filters.minPrice"
              placeholder="Minimum Price"
            />
          </div>

          <div class="col-md-3">
            <!-- <label for="maxPrice" class="form-label">Max Price</label> -->
            <input
              type="number"
              min="10"
              id="maxPrice"
              class="form-control"
              [(ngModel)]="filters.maxPrice"
              placeholder="Maximum Price"
            />
          </div>

          <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary w-100" (click)="applyFilters()">
              Apply Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && totalCount != 0" class="row g-4">
      <div class="col-sm-6 col-lg-3" *ngFor="let product of allProducts">
        <div
          class="card h-100 shadow-sm product-card position-relative overflow-hidden"
        >
          <div
            class="position-relative overflow-hidden product-image-container"
          >
            <img
              width="100%"
              height="250"
              [src]="imageBaseUrl + product.photos[0]?.url"
              class="card-img-top default-img"
              [alt]="product.name"
            />
            <img
              width="100%"
              height="250"
              [src]="imageBaseUrl + product.photos[1]?.url"
              class="card-img-top hover-img position-absolute top-0 start-0"
              [alt]="product.name"
            />

            <div class="hover-buttons d-flex justify-content-center gap-2 p-2">
              <button
                class="btn btn-light btn-sm action-btn"
                [ngClass]="{ 'active-favorite': product.isFavorite }"
                title="Wishlist"
                (click)="
                  product.isFavorite
                    ? deleteFromFavorite(product.id)
                    : addToFavorite(product.id)
                "
              >
                <i
                  [class]="
                    product.isFavorite ? 'bi bi-heart-fill' : 'bi bi-heart'
                  "
                ></i>
              </button>

              <button
                class="btn btn-light btn-sm action-btn"
                title="Quick View"
                [routerLink]="['/ProductDetails', product.id]"
              >
                <i class="bi bi-eye"></i>
              </button>

              <button
                class="btn btn-light btn-sm action-btn"
                title="Add to Cart"
              >
                <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="text-muted mb-1 d-flex align-items-center">
              <div
                id="productName"
                class="d-flex justify-content-start"
                style="flex-grow: 1"
              >
                <span>{{ product.name }}</span>
              </div>
              <div class="d-flex justify-content-end">
                <ng-container *ngIf="product.rating">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i
                      class="bi"
                      [ngClass]="{
                        'bi-star-fill': getStarRating(product.rating) >= star,
                        'bi-star-half':
                          getStarRating(product.rating) >= star - 0.5 &&
                          getStarRating(product.rating) < star,
                        'bi-star': getStarRating(product.rating) < star - 0.5
                      }"
                      style="
                        color: gold;
                        margin-left: 1px;
                        margin-right: 1px;
                        font-size: 1rem;
                      "
                    ></i>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <h6 class="card-title">{{ product.description }}</h6>

            <div class="mb-2">
              <span
                *ngIf="product.discountedPrice"
                class="text-primary fw-bold"
              >
                ${{ product.discountedPrice }}
              </span>
              <span
                [ngClass]="{
                  'text-muted ms-2 text-decoration-line-through':
                    product.discountedPrice &&
                    product.discountedPrice < product.sellingPrice
                }"
              >
                ${{ product.sellingPrice }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading" class="pagination-container mt-3">
      <nav *ngIf="totalCount != 0" aria-label="Page navigation">
        <ul class="pagination justify-content-center align-items-center">
          <!-- Previous Button -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button
              class="page-link"
              (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1"
            >
              Previous
            </button>
          </li>

          <!-- Page Number -->
          <li class="page-item disabled">
            <span class="page-link">
              Page {{ currentPage }} of {{ totalPages }}
            </span>
          </li>

          <!-- Next Button -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button
              class="page-link"
              (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </li>

          <!-- Total Products Badge -->
          <li class="page-item disabled ms-3">
            <span class="page-link"> Total: {{ totalCount }} </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
