
:root {
  --background-color: #ffffff;
  --text-color: #212529;
  --primary-color: #0d6efd;
  --card-background: #ffffff;
  --background-colorPage:#f5eeee;
}

body.dark-mode {
  --background-colorMain: #1e1e1e;
  --background-colorPage:#4d4646;
  --background-color: #121212;
  --text-color: #f1f1f1;
  --primary-color: #0d6efd;
  --card-background: #424040;
}

body {
  background-color: var(--background-colorMain);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

nav div li a {
  color: var(--text-color) !important;
}

.pagination-container{
  background-color: var(--background-colorPage);
  color: var(--text-color);
}

.nav-link{
  color: var(--text-color) !important;
}

.py-5{
  background-color: var(--background-colorPage);
}

.dropdown-item{
  background-color: var(--background-colorMain);
}

.dropdown-menu{
  background-color: var(--background-colorMain);
}
.card{
  background-color: var(--card-background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

#productName{
  color: var(--text-color) !important;
}

#pargraph
{
  color: var(--text-color) !important;
}
/* Example for Buttons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
