<section class="py-5 bg-light">
  <div class="container" *ngIf="product">
    <div class="row">
      <div class="col-md-6">
        <div class="border rounded shadow-sm p-3">
          <img
            [src]="
              imageBaseUrl +
              (selectedPhotoUrl ? selectedPhotoUrl : product.photos[0]?.url)
            "
            class="img-fluid rounded w-100"
            style="
              max-height: 450px;
              object-fit: contain;
              background-color: #f8f9fa;
            "
            alt="Main Product Image"
          />

          <div class="d-flex gap-2 mt-3 overflow-auto">
            <img
              *ngFor="let photo of product.photos"
              [src]="imageBaseUrl + photo.url"
              (click)="selectPhoto(photo.url)"
              class="rounded"
              [ngClass]="{
                'border border-3 border-primary': selectedPhotoUrl === photo.url
              }"
              style="
                width: 70px;
                height: 70px;
                object-fit: cover;
                cursor: pointer;
              "
            />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h2 class="fw-bold mb-3">{{ product.name }}</h2>
        <p class="text-muted">{{ product.description }}</p>
        <p class="mb-2">
          <i class="bi bi-tag-fill text-primary me-1"></i>
          <strong>Category:</strong> {{ product.category?.name }}
        </p>
        <div>
          <span *ngIf="product.stock > 0" class="text-success">
            <strong>Stock:</strong> {{ product.stock }}
          </span>
          <span *ngIf="product.stock === 0" class="text-danger fw-bold">
            Out of Stock
          </span>
        </div>
        <div class="mb-4">
          <span
            class="fs-3 fw-bold text-danger"
            *ngIf="product.discountedPrice"
          >
            {{ product.discountedPrice | currency }}
          </span>
          <span
            class="fs-5 text-muted text-decoration-line-through"
            *ngIf="product.discountedPrice"
          >
            {{ product.sellingPrice | currency }}
          </span>
          <span
            class="fs-4 fw-bold text-primary"
            *ngIf="!product.discountedPrice"
          >
            {{ product.sellingPrice | currency }}
          </span>
          <div *ngIf="product.offer" class="mt-2">
            <span class="badge bg-success">
              {{ product.offer.discount }}% Off
            </span>
            <br />
            <small class="badge bg-danger"> Time Left: {{ countdown }} </small>
          </div>
        </div>

        <div *ngIf="product.colors?.length" class="mb-4">
          <h6>Colors:</h6>
          <div class="d-flex gap-2">
            <div
              *ngFor="let color of product.colors"
              class="rounded-circle"
              [style.background]="color"
              style="width: 30px; height: 30px; border: 2px solid #ccc"
            ></div>
          </div>
        </div>

        <div *ngIf="product.sizes?.length" class="mb-4">
          <h6>Sizes:</h6>
          <div class="d-flex gap-2 flex-wrap">
            <span
              *ngFor="let size of product.sizes"
              class="badge bg-light text-dark border px-3 py-2"
            >
              {{ size.name }}
              <small *ngIf="size.extraCost"
                >(+{{ size.extraCost | currency }})</small
              >
            </span>
          </div>
        </div>

        <div class="mb-4">
          <button
            class="btn btn-outline-danger"
            [ngClass]="{ 'active-favorite': product.isFavorite }"
            title="Wishlist"
            (click)="
              product.isFavorite
                ? deleteFromFavorite(product.id)
                : addToFavorite(product.id)
            "
          >
            <i
              [class]="product.isFavorite ? 'bi bi-heart-fill' : 'bi bi-heart'"
            ></i>
          </button>
        </div>

        <div class="bg-light rounded p-3">
          <h6 class="mb-3 fw-bold">Seller Info</h6>
          <div class="d-flex align-items-center gap-3">
            <img
              [src]="imageBaseUrl + '/images/users/' + product.seller?.photo"
              class="rounded-circle border"
              style="width: 80px; height: 80px; object-fit: cover"
              alt="Seller Logo"
            />
            <div>
              <p class="mb-1 fw-semibold">
                <i class="bi bi-person-fill me-1"></i>
                {{ product.seller?.name }}
              </p>
              <p class="mb-0 text-muted">
                <i class="bi bi-envelope-fill me-1"></i>
                {{ product.seller?.email }}
              </p>
            </div>
          </div>
        </div>

        <div>
          <button
            class="w-25 btn btn-light btn-sm action-btn btn-outline-primary"
            title="Add to Cart"
            (click)="openModal(product)"
          >
            add To Card
            <i class="bi bi-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5 shadow-lg border-0 rounded-4">
    <div class="card-body p-4">
      <h4 class="mb-4 fw-bold text-primary">💬 Leave a Review</h4>

      <form (ngSubmit)="submitReview()" [formGroup]="reviewForm" novalidate>
        <!-- النجوم -->
        <div class="mb-3">
          <label class="form-label fw-bold">Your Rating</label>
          <div class="stars fs-4">
            <i
              *ngFor="let star of [1, 2, 3, 4, 5]"
              class="bi me-1"
              [ngClass]="
                voteValue >= star
                  ? 'bi-star-fill text-warning'
                  : 'bi-star text-muted'
              "
              style="cursor: pointer"
              (click)="setVote(star)"
            ></i>
          </div>
          <input
            type="hidden"
            formControlName="rating"
            [value]="voteValue * 2"
          />
          <div
            *ngIf="
              reviewForm.controls['rating'].invalid &&
              reviewForm.controls['rating'].touched
            "
            class="text-danger mt-1"
          >
            Please select a rating.
          </div>
        </div>

        <!-- تعليق المستخدم -->
        <div class="mb-3">
          <label for="reviewContent" class="form-label fw-bold"
            >Your Review</label
          >
          <textarea
            formControlName="reviewContent"
            id="reviewContent"
            class="form-control rounded-3 shadow-sm"
            rows="4"
            [value]="newreviewcontent"
          ></textarea>
          <div
            *ngIf="
              reviewForm.controls['reviewContent'].invalid &&
              reviewForm.controls['reviewContent'].touched
            "
            class="text-danger mt-1"
          >
            Review must be at least 10 characters.
          </div>
        </div>

        <!-- زر الإرسال -->
        <button
          type="submit"
          class="btn btn-warning text-white fw-semibold rounded-pill px-4"
          [disabled]="reviewForm.invalid"
        >
          Submit Review
        </button>
      </form>
    </div>
  </div>

  <!-- قائمة المراجعات -->
  <div class="mt-5">
    <h3 class="text-center fw-bold mb-4">⭐ Reviews</h3>

    <p *ngIf="reviews.length < 1" class="text-center text-muted">
      No reviews available for this product.
    </p>

    <div
      *ngFor="let review of reviews"
      class="card border-0 shadow-sm mb-4 rounded-3"
    >
      <div class="card-body p-4">
        <div class="d-flex align-items-center mb-3">
          <img
            *ngIf="review.user.photo"
            [src]="imageBaseUrlAPI + '/images/' + review.user.photo"
            alt="User"
            class="rounded-circle me-3 border"
            style="width: 50px; height: 50px; object-fit: cover"
          />

          <img
            *ngIf="!review.user.photo"
            src="../../../../assets/img/ava.jpeg"
            alt="User Photo"
            alt="User"
            class="rounded-circle me-3 border"
            style="width: 50px; height: 50px; object-fit: cover"
          />
          <div>
            <ng-container>
              <div>
                <h6 class="mb-0 fw-bold">{{ review.user.displayName }}</h6>
                <small class="text-muted">
                  Rated:
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i
                      class="bi"
                      [ngClass]="{
                        'bi-star-fill': getStarRating(review.rating) >= star,
                        'bi-star-half':
                          getStarRating(review.rating) >= star - 0.5 &&
                          getStarRating(review.rating) < star,
                        'bi-star': getStarRating(review.rating) < star - 0.5
                      }"
                      style="
                        color: gold;
                        margin-left: 1px;
                        margin-right: 1px;
                        font-size: 1rem;
                      "
                    ></i>
                  </ng-container>
                </small>
              </div>
            </ng-container>
          </div>
        </div>

        <p class="mb-0 text-muted">{{ review.reviewContent }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Modal Overlay -->
<div *ngIf="isModalOpen" class="modal-backdrop">
  <div class="modal-box p-4 bg-white rounded shadow">
    <h5 class="mb-3">Add "{{ product.name }}" to Cart</h5>

    <!-- Color -->
    <div *ngIf="product.colors?.length > 0" class="mb-3">
      <label for="colorSelect">Color:</label>
      <ng-container *ngIf="product.colors.length === 1">
        <input
          type="text"
          class="form-control"
          [value]="selectedColor"
          disabled
        />
      </ng-container>
      <div *ngIf="product.colors.length > 1">
        <select
          id="colorSelect"
          [(ngModel)]="selectedColor"
          class="form-select"
        >
          <option value="">-- Select Color --</option>
          <option *ngFor="let color of product.colors" [value]="color">
            {{ color }}
          </option>
        </select>
        <div class="text-danger mt-1" *ngIf="showValidation && !selectedColor">
          Please select a color
        </div>
      </div>
    </div>

    <!-- Size -->
    <div *ngIf="product.sizes?.length > 0" class="mb-3">
      <label for="sizeSelect">Size:</label>

      <ng-container *ngIf="product.sizes.length === 1">
        <input
          type="text"
          class="form-control"
          [value]="
            product.sizes[0].name + ' (+$' + product.sizes[0].extraCost + ')'
          "
          disabled
        />
      </ng-container>

      <div *ngIf="product.sizes.length > 1">
        <select
          id="sizeSelect"
          [(ngModel)]="selectedSizeObject"
          class="form-select"
          [compareWith]="compareSizes"
        >
          <option [ngValue]="null">-- Select Size --</option>
          <option *ngFor="let size of product.sizes" [ngValue]="size">
            {{ size.name }} (+${{ size.extraCost }})
          </option>
        </select>

        <div
          class="text-danger mt-1"
          *ngIf="showValidation && !selectedSizeObject"
        >
          Please select a size
        </div>
      </div>
    </div>

    <!-- Additional Details -->
    <div *ngIf="product.additionalDetails" class="mb-3">
      <label>Additional Info:</label>
      <input
        type="text"
        class="form-control"
        value=""
        [(ngModel)]="additionalDetails"
        [placeholder]="product.additionalDetails"
      />
      <div
        class="text-danger mt-1"
        *ngIf="showValidation && !additionalDetails"
      >
        Please provide additional details
      </div>
    </div>

    <!-- Quantity -->
    <div class="mb-3">
      <label for="quantitySelect">Quantity:</label>
      <input
        type="number"
        id="quantitySelect"
        class="form-control"
        [(ngModel)]="selectedQuantity"
        [max]="product.stock"
        [min]="1"
      />
      <div
        class="text-danger mt-1"
        *ngIf="
          showValidation &&
          (!selectedQuantity ||
            selectedQuantity <= 0 ||
            selectedQuantity > product.stock)
        "
      >
        Please select a valid quantity (max: {{ product.stock }})
      </div>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-secondary" (click)="isModalOpen = false">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="addToCart()">Confirm</button>
    </div>
  </div>
</div>
