<!-- Footer -->
<footer class="bb-footer margin-t-50">
  <div class="footer-directory padding-tb-50">
    <div class="container">
      <div class="row">
        <div
          class="col-12"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <div class="directory-title">
            <h4>Explore Handmade Categories</h4>
          </div>
          <div class="directory-contact">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="inner-contact">
                  <ul>
                    <li><span>Jewelry:</span></li>
                    <li><a href="#">Handmade Necklaces</a></li>
                    <li><a href="#">Boho Earrings</a></li>
                    <li><a href="#">Couple Rings</a></li>
                    <li><a href="#">Gemstone Pendants</a></li>
                    <li><a href="#">Beaded Bracelets</a></li>
                    <li><a href="#">Clay Jewelry</a></li>
                  </ul>
                </div>
                <div class="inner-contact">
                  <ul>
                    <li><span>Accessories:</span></li>
                    <li><a href="#">Handwoven Scarves</a></li>
                    <li><a href="#">Leather Wallets</a></li>
                    <li><a href="#">Crochet Bags</a></li>
                    <li><a href="#">Macramé Keychains</a></li>
                    <li><a href="#">Fabric Headbands</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="inner-contact">
                  <ul>
                    <li><span>Home Decor:</span></li>
                    <li><a href="#">Wooden Crafts</a></li>
                    <li><a href="#">Macramé Wall Hangings</a></li>
                    <li><a href="#">Candles & Holders</a></li>
                    <li><a href="#">Woven Baskets</a></li>
                    <li><a href="#">Pottery</a></li>
                  </ul>
                </div>
                <div class="inner-contact">
                  <ul>
                    <li><span>Gifts:</span></li>
                    <li><a href="#">Personalized Gifts</a></li>
                    <li><a href="#">Hand-painted Cards</a></li>
                    <li><a href="#">Craft Gift Boxes</a></li>
                    <li><a href="#">Festive Sets</a></li>
                    <li><a href="#">Custom Orders</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Footer Section -->
  <div class="footer-container">
    <div class="footer-top padding-tb-50">
      <div class="container">
        <div
          class="row m-minus-991"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <div class="col-sm-12 col-lg-3 bb-footer-cat">
            <div class="bb-footer-widget bb-footer-company">
              <img
                src="../../../assets/img/hand8.jpg"
                class="bb-footer-logo"
                alt="footer logo"
              />
              <p class="bb-footer-detail">
                HandOra brings you carefully crafted, handmade treasures from
                skilled artisans. Each piece is made with love and creativity.
              </p>
              <!-- <div class="bb-app-store">
                              <a href="#" class="app-img"><img src="../../../assets/img/hand8.jpg" alt="android"></a> -->
              <!-- <a href="#" class="app-img"><img src="assets/img/app/apple.png" alt="apple"></a>
                          </div> -->
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 bb-footer-info">
            <div class="bb-footer-widget">
              <h4 class="bb-footer-heading">Collections</h4>
              <ul class="bb-footer-links">
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Gift Ideas</a></li>
                <li><a href="#">Limited Editions</a></li>
                <li><a href="#">Seasonal Picks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 bb-footer-account">
            <div class="bb-footer-widget">
              <h4 class="bb-footer-heading">Company</h4>
              <ul class="bb-footer-links">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact-us.html">Contact</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="terms.html">Terms & Conditions</a></li>
                <li><a href="privacy.html">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 bb-footer-service">
            <div class="bb-footer-widget">
              <h4 class="bb-footer-heading">Support</h4>
              <ul class="bb-footer-links">
                <li><a href="login.html">My Account</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Order Tracking</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 bb-footer-cont-social">
            <div class="bb-footer-widget">
              <h4 class="bb-footer-heading">Get in Touch</h4>
              <ul class="bb-footer-links">
                <li>
                  <i class="ri-map-pin-line"></i>
                  <p>Handcraft ,Egypt.</p>
                </li>
                <li>
                  <i class="ri-phone-line"></i>
                  <a href="tel:+001234567890">+20 101 103 7481</a>
                </li>
                <li>
                  <i class="ri-mail-line"></i>
                  <a href="mailto:hello&#64;giftly.com"
                    >hello&#64;handora.com</a
                  >
                </li>
                <li>
                  <i class="ri-instagram-line"></i>
                  <a href="#">&#64;handora.handmade</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
    </div>
  </div>
</footer>

<!-- Footer -->
<!-- <footer class="pt-3" style="background-color: var(--background-colorMain)">
  <div class="container">
    <div class="row">
      <!-- About Section -->
<!-- <div class="col-md-3">
        <h5>About Us</h5>
        <p>
          Handmade is your go-to destination for unique and handcrafted
          products. We offer a wide range of items made with love and care.
        </p>
      </div>

      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="home" style="text-decoration: none">Home</a></li>
          <li>
            <a routerLink="offer" style="text-decoration: none">Offers</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt"></i> 123 Handmade St, Craft City
          </li>
          <li><i class="fas fa-phone"></i> +123 456 7890</li>
          <li><i class="fas fa-envelope"></i> info&#64;handmade.com</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex gap-2">
          <li>
            <a href="#"><i class="fab fa-facebook-f file"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col text-center">
        <p>&copy; 2025 Handmade. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer> -->
