<!-- Footer -->
<footer class="pt-3" style="background-color: var(--background-colorMain)">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-3">
        <h5>About Us</h5>
        <p>
          Handmade is your go-to destination for unique and handcrafted
          products. We offer a wide range of items made with love and care.
        </p>
      </div>
      <!-- Quick Links Section -->
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="home" style="text-decoration: none">Home</a></li>
          <li>
            <a routerLink="offer" style="text-decoration: none">Offers</a>
          </li>
        </ul>
      </div>
      <!-- Contact Section -->
      <div class="col-md-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt"></i> 123 Handmade St, Craft City
          </li>
          <li><i class="fas fa-phone"></i> +123 456 7890</li>
          <li><i class="fas fa-envelope"></i> info&#64;handmade.com</li>
        </ul>
      </div>
      <!-- Social Media Section -->
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex gap-2">
          <li>
            <a href="#"><i class="fab fa-facebook-f file"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col text-center">
        <p>&copy; 2025 Handmade. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
