@model IEnumerable<ECommerce.Core.Models.Color>
@{
    ViewBag.Title = "My Colors";
}
<h2>My Colors</h2>
<a class="btn btn-primary mb-3" asp-action="Create">Add Color</a>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var color in Model)
    {
        <tr>
            <td>@color.Name</td>
        </tr>
    }
</table>
