@model IEnumerable<ECommerce.Core.Models.Size>
@{
    ViewBag.Title = "My Sizes";
}
<h2>My Sizes</h2>
<a class="btn btn-primary mb-3" asp-action="Create">Add Size</a>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var size in Model)
    {
        <tr>
            <td>@size.Name</td>
        </tr>
    }
</table>
