<div class="container py-4 custom-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-box-open me-2 text-primary-custom"></i> Your Orders
      </h5>
      <input
      type="text"
      class="form-control w-25"
      placeholder="Search by status or order code..."
      [(ngModel)]="searchItem"
      onkeyup="filterOrders()"
    />
    </div>
    <div *ngFor="let order of filteredOrders" (click)="viewOrderDetails(order.id)" 
    style="cursor: pointer;"  class="card shadow-lg mb-3 border-0">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <h6 class="mb-1 fw-bold">Order #{{ order.id + 1000 }}</h6>
            <p class="mb-1 text-muted">Order Date : {{ order.orderDate }}</p>
            <p class="mb-0">
              Status:
              <span class="fw-semibold text-primary-custom">{{ order.status }}</span>
            </p>
          </div>
          <div class="widthright">
            <div class="fw-semibold">Total: <span>{{ order.total }} EGP</span></div>
            <div class="fw-semibold">Items: <span>{{ order.itemsCount }}</span></div>
          </div>
        </div>
      </div>
    </div> 

    <div *ngIf="!filteredOrders || filteredOrders.length === 0"
                    class="text-center py-5 animate__animated animate__bounceIn"
                    style="background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);">
                    <i class="bi bi-cart-x" style="font-size: 6rem; color: #bdc3c7; animation: pulse 2s infinite;"></i>
                    <p class="mt-3" style="font-size: 1.2rem; color: #7f8c8d;"> You have no orders at the moment.</p>
                     <a routerLink="/home" class="btn btn-primary"
                      style="background: linear-gradient(90deg,  #5069d8, #2941aa); border: none; padding: 10px 30px; border-radius: 25px; transition: transform 0.3s ease, box-shadow 0.3s ease;">
                      Continue Shopping
                    </a>
                    <style>
                      .btn-primary:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 5px 15px rgba(52, 152, 219, 0.3);
                      }

                      @keyframes pulse {
                        0% {
                          transform: scale(1);
                        }

                        50% {
                          transform: scale(1.05);
                        }

                        100% {
                          transform: scale(1);
                        }
                      }
                    </style>
                  </div>


  </div>
  