@model ECommerce.DashBoard.ViewModels.CategoryVM

<div class="mb-6">
    <label class="form-label" for="basic-icon-default-fullname" asp-for="Name"></label>
    <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
        <input asp-for="Name" type="text" class="form-control" id="basic-icon-default-fullname" placeholder="Name" aria-label="Name" aria-describedby="basic-icon-default-fullname2" />
  
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-6">
    <label class="form-label" for="basic-icon-default-company" asp-for="Description"></label>
    <div class="input-group input-group-merge">
        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
        <input type="text" id="basic-icon-default-company" asp-for="Description" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-icon-default-company2" />
        
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="mb-6">
    <label for="formFile" class="form-label">Brand Photo</label>
    <input class="form-control" type="file" id="formFile" asp-for="Photo">
    <span asp-validation-for="Photo" class="text-danger"></span>
</div>
