@model ECommerce.DashBoard.ViewModels.CategoryVM

<div class="mb-6">
    <label class="form-label" for="basic-icon-default-fullname" asp-for="Name"></label>
    <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
        <input asp-for="Name" type="text" class="form-control" id="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
    </div>
</div>
<div class="mb-6">
    <label class="form-label" for="basic-icon-default-company" asp-for="Description"></label>
    <div class="input-group input-group-merge">
        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
        <input type="text" id="basic-icon-default-company" asp-for="Description" class="form-control" placeholder="ACME Inc." aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" />
    </div>
</div>

<div class="mb-6">
    <label for="formFile" class="form-label">Brand Photo</label>
    <input class="form-control" type="file" id="formFile" asp-for="Photo">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}