@page
@model ECommerce.DashBoard.Areas.Identity.Pages.Account.ResetPasswordModel

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Reset Password Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

            <!-- Forgot Password -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-6">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("HandmadeE-Commerce")</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1">Reset Password</h4>
                    <p class="mb-6">password must be at least length 6 and have captal char and small and spiecial dight and dight</p>
                    <form id="formAuthentication" class="mb-6" method="POST">
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger">@TempData["Message"]</div>
                        }

                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Pin" />

                        <div class="mb-3">
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input asp-for="Input.NewPassword"
                                   class="form-control"
                                   placeholder="Enter your new password"
                                   autocomplete="new-password" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Input.ConfirmNewPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmNewPassword"
                                   class="form-control"
                                   placeholder="Confirm your password"
                                   autocomplete="new-password" />
                            <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
                    </form>
                    <div class="text-center">
                        <a asp-area="Identity" asp-page="Account/Login" class="d-flex justify-content-center">
                            <i class="bx bx-chevron-left me-1"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
