<section class="section-login padding-tb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="section-title bb-center"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <div class="section-detail">
            <h2 class="bb-title">Reset <span>Password</span></h2>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div
          class="bb-login-contact"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <div *ngIf="errorMessage" class="text-center alert alert-danger">
            {{ errorMessage }}
          </div>
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="bb-login-wrap">
              <label for="newPassword">New Password :</label>
              <div class="input-group mb-2">
                <input
                  id="newPassword"
                  formControlName="newPassword"
                  placeholder="Enter your newPassword"
                  [type]="passwordVisible ? 'text' : 'password'"
                  autocomplete="on"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      f['newPassword'].invalid && f['newPassword'].touched
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="fas"
                    [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
                <div
                  class="invalid-feedback"
                  *ngIf="f['newPassword'].invalid && f['newPassword'].touched"
                >
                  <div *ngIf="f['newPassword'].errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="f['newPassword'].errors?.['minlength']">
                    Password must be at least 8 characters long.
                  </div>
                  <div *ngIf="f['newPassword'].errors?.['passwordStrength']">
                    Password must contain at least one lowercase, one uppercase,
                    one digit, and one special character.
                  </div>
                </div>
              </div>
            </div>

            <div class="bb-login-wrap">
              <label for="confirmNewPassword">Confirm New Password :</label>
              <div class="input-group mb-2">
                <input
                  id="confirmNewPassword"
                  formControlName="confirmNewPassword"
                  placeholder="Enter your Confirm New Password"
                  [type]="confirmPasswordVisible ? 'text' : 'password'"
                  autocomplete="on"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (f['confirmNewPassword'].invalid &&
                        f['confirmNewPassword'].touched) ||
                      forgetPasswordForm.hasError('passwordMismatch')
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="toggleConfirmPasswordVisibility()"
                >
                  <i
                    class="fas"
                    [ngClass]="
                      confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'
                    "
                  ></i>
                </button>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    f['confirmNewPassword'].invalid &&
                    f['confirmNewPassword'].touched
                  "
                >
                  <div *ngIf="f['confirmNewPassword'].errors?.['required']">
                    Confirm Password is required.
                  </div>
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    forgetPasswordForm.hasError('passwordMismatch') &&
                    f['confirmNewPassword'].touched
                  "
                >
                  Passwords don't match.
                </div>
              </div>
            </div>

            <div class="bb-login-button">
              <button class="bb-btn-2" type="submit">
                <span *ngIf="isLoading">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
                <span *ngIf="!isLoading">Confirm</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
