<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
  style="background-color: #f8f8fb"
>
  <!-- Carousel Indicators -->
  <div class="carousel-indicators mb-4">
    <button
      type="button"
      data-bs-target="#carouselExampleSlidesOnly"
      data-bs-slide-to="0"
      class="active text-white rounded"
      style="background-color: #6c7fd8"
      aria-current="true"
      aria-label="Slide 1"
    >
      1
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleSlidesOnly"
      data-bs-slide-to="1"
      class="= text-white rounded"
      style="background-color: #6c7fd8"
      aria-label="Slide 2"
    >
      2
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleSlidesOnly"
      data-bs-slide-to="2"
      class="text-white rounded"
      style="background-color: #6c7fd8"
      aria-label="Slide 3"
    >
      3
    </button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="d-flex align-items-center justify-content-around ps-5"
        style="min-height: 400px"
      >
        <div class="hero-contact ps-5">
          <p>Flat 20% Off</p>
          <h2>
            Explore <span>Warm</span><br />
            Fast Food & Snacks
          </h2>
          <a href="shop-left-sidebar-col-3.html" class="bb-btn-1">Shop Now</a>
        </div>
        <div class="w-50">
          <img
            src="../../../assets/img/Gifts-amico.png"
            class="d-block w-100"
            alt="Slide 1"
          />
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div
        class="d-flex align-items-center justify-content-around ps-5"
        style="min-height: 400px"
      >
        <div class="hero-contact">
          <p>Flat 20% Off</p>
          <h2>
            Explore <span>Warm</span><br />
            Fast Food & Snacks
          </h2>
          <a href="shop-left-sidebar-col-3.html" class="bb-btn-1">Shop Now</a>
        </div>
        <div class="w-50">
          <img
            src="../../../assets/img/Gifts-amico.png"
            class="d-block w-100"
            alt="Slide 2"
          />
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div
        class="d-flex align-items-center justify-content-around ps-5"
        style="min-height: 400px"
      >
        <div class="hero-contact">
          <p>Flat 20% Off</p>
          <h2>
            Explore <span>Warm</span><br />
            Fast Food & Snacks
          </h2>
          <a href="shop-left-sidebar-col-3.html" class="bb-btn-1">Shop Now</a>
        </div>
        <div class="w-50">
          <img
            src="../../../assets/img/Gifts-amico.png"
            class="d-block w-100"
            alt="Slide 3"
          />
        </div>
      </div>
    </div>
  </div>

</div>


    <!-- Category -->
    <section class="section-category padding-tb-50">
      <div class=" m-auto p-3" style="width: 85%;">
          <div class="row mb-minus-24">
              <div class="col-lg-4 col-12 mb-24">
                  <div class="bb-category-img">
                      <img src="../../../assets/img/Gifts-pana.png" class="w-100" alt="category">
                      <div class="bb-offers">
                          <span>50% Off</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 col-12 mb-24">
                  <div class="bb-category-contact">
                      <div class="category-title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                          <h2 style="color: #5069d8;">Explore Categories</h2>
                      </div>
                      <div >
                      
                        
                        <div id="categoryCarousel" class="carousel slide w-100" data-bs-ride="carousel">
                          <div class="carousel-inner p-4">
                            <div *ngFor="let group of categorySlides; let i = index" [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                              <div class="d-flex justify-content-center gap-4 py-4">
                                <div *ngFor="let category of group"  class="text-center bg-light rounded p-3 shadow" style="min-width: 200px;">
                                  <div (click)="GetProductsWithThisCategory(category.id)"  style="cursor: pointer;">
                                 <div class="mb-2">
                                    <img style="width: 30px; height: 35px;" src="{{imageBaseUrl+categoryPhoto}}{{category.photo}}"/>
                                  </div>
                                  <h5 class="mb-1">{{ category.name }}</h5>
                                  <!-- <p class="text-muted">{{ category.count }} items</p> -->
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          <button class="carousel-control-prev " style="margin-right: 200px;" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next ms-5" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                        
                    </div>
                
                  </div>
              </div>
          </div>
      </div>
  </section>


  
    
  

<section class="py-5 bg-white">
  <div class="container">
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">loading...</span>
      </div>
    </div>

    <div
      *ngIf="!isLoading && totalCount === 0"
      class="alert alert-warning text-center"
      role="alert"
    >
      <strong>No Products Found!</strong> We're sorry, but there are no
      available Products at the moment.
    </div>

    <div *ngIf="!isLoading && totalCount != 0" class="card mb-4 p-3">
      <div>
        <div class="row g-3 align-items-center">
          <div class="col-md-4">
            <!-- <label for="category" class="form-label">Category</label> -->
            <select
              id="category"
              class="form-select"
              [(ngModel)]="filters.categoryId"
            >
              <option [ngValue]="null">All Categories</option>
              <option
                *ngFor="let category of categories"
                [ngValue]="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>

          <div class="col-md-3">
            <!-- <label for="minPrice" class="form-label">Min Price</label> -->
            <input
              type="number"
              id="minPrice"
              class="form-control"
              min="1"
              [(ngModel)]="filters.minPrice"
              placeholder="Minimum Price"
            />
          </div>

          <div class="col-md-3">
            <!-- <label for="maxPrice" class="form-label">Max Price</label> -->
            <input
              type="number"
              min="10"
              id="maxPrice"
              class="form-control"
              [(ngModel)]="filters.maxPrice"
              placeholder="Maximum Price"
            />
          </div>

          <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary w-100" (click)="applyFilters()">
              Apply Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && totalCount != 0" class="row g-4">
      <div class="col-sm-6 col-lg-3" *ngFor="let product of allProducts">
        <div
          class="card h-100 shadow-sm product-card position-relative overflow-hidden"
        >
          <div
            class="position-relative overflow-hidden product-image-container"
          >
            <img
              width="100%"
              height="250"
              [src]="imageBaseUrl + product.photos[0]?.url"
              class="card-img-top default-img"
              [alt]="product.name"
            />
            <img
              width="100%"
              height="250"
              [src]="imageBaseUrl + product.photos[1]?.url"
              class="card-img-top hover-img position-absolute top-0 start-0"
              [alt]="product.name"
            />

            <div class="hover-buttons d-flex justify-content-center gap-2 p-2">
              <button
                class="btn btn-light btn-sm action-btn"
                [ngClass]="{ 'active-favorite': product.isFavorite }"
                title="Wishlist"
                (click)="
                  product.isFavorite
                    ? deleteFromFavorite(product.id)
                    : addToFavorite(product.id)
                "
              >
                <i
                  [class]="
                    product.isFavorite ? 'bi bi-heart-fill' : 'bi bi-heart'
                  "
                ></i>
              </button>

              <button
                class="btn btn-light btn-sm action-btn"
                title="Quick View"
                [routerLink]="['/ProductDetails', product.id]"
              >
                <i class="bi bi-eye"></i>
              </button>

              <button
                class="btn btn-light btn-sm action-btn"
                title="Add to Cart"
                (click)="openModal(product)"
              >
                <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="text-muted mb-1 d-flex align-items-center">
              <div
                id="productName"
                class="d-flex justify-content-start"
                style="flex-grow: 1"
              >
                <span>{{ product.name }}</span>
              </div>
              <div class="d-flex justify-content-end">
                <ng-container *ngIf="product.rating">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i
                      class="bi"
                      [ngClass]="{
                        'bi-star-fill': getStarRating(product.rating) >= star,
                        'bi-star-half':
                          getStarRating(product.rating) >= star - 0.5 &&
                          getStarRating(product.rating) < star,
                        'bi-star': getStarRating(product.rating) < star - 0.5
                      }"
                      style="
                        color: gold;
                        margin-left: 1px;
                        margin-right: 1px;
                        font-size: 1rem;
                      "
                    ></i>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <h6 class="card-title">{{ product.description }}</h6>

            <div class="mb-2 d-flex justify-content-between align-items-center">
              <div>
                <span
                  *ngIf="product.discountedPrice"
                  class="text-primary fw-bold"
                >
                  ${{ product.discountedPrice }}
                </span>
                <span
                  [ngClass]="{
                    'text-muted ms-2 text-decoration-line-through':
                      product.discountedPrice &&
                      product.discountedPrice < product.sellingPrice
                  }"
                >
                  ${{ product.sellingPrice }}
                </span>
              </div>

              <div>
                <span *ngIf="product.stock > 0" class="text-success">
                  <strong>Stock:</strong> {{ product.stock }}
                </span>
                <span *ngIf="product.stock === 0" class="text-danger fw-bold">
                  Out of Stock
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Overlay -->
    <div *ngIf="selectedProduct" class="modal-backdrop">
      <div class="modal-box p-4 bg-white rounded shadow">
        <h5 class="mb-3">Add "{{ selectedProduct.name }}" to Cart</h5>

        <!-- Color -->
        <div *ngIf="selectedProduct.colors?.length > 0" class="mb-3">
          <label for="colorSelect">Color:</label>
          <ng-container *ngIf="selectedProduct.colors.length === 1">
            <input
              type="text"
              class="form-control"
              [value]="selectedColor"
              disabled
            />
          </ng-container>
          <div *ngIf="selectedProduct.colors.length > 1">
            <select
              id="colorSelect"
              [(ngModel)]="selectedColor"
              class="form-select"
            >
              <option value="">-- Select Color --</option>
              <option
                *ngFor="let color of selectedProduct.colors"
                [value]="color"
              >
                {{ color }}
              </option>
            </select>
            <div
              class="text-danger mt-1"
              *ngIf="showValidation && !selectedColor"
            >
              Please select a color
            </div>
          </div>
        </div>

        <!-- Size -->
        <div *ngIf="selectedProduct.sizes?.length > 0" class="mb-3">
          <label for="sizeSelect">Size:</label>

          <ng-container *ngIf="selectedProduct.sizes.length === 1">
            <input
              type="text"
              class="form-control"
              [value]="
                selectedProduct.sizes[0].name +
                ' (+$' +
                selectedProduct.sizes[0].extraCost +
                ')'
              "
              disabled
            />
          </ng-container>

          <div *ngIf="selectedProduct.sizes.length > 1">
            <select
              id="sizeSelect"
              [(ngModel)]="selectedSizeObject"
              class="form-select"
              [compareWith]="compareSizes"
            >
              <option [ngValue]="null">-- Select Size --</option>
              <option
                *ngFor="let size of selectedProduct.sizes"
                [ngValue]="size"
              >
                {{ size.name }} (+${{ size.extraCost }})
              </option>
            </select>

            <div
              class="text-danger mt-1"
              *ngIf="showValidation && !selectedSizeObject"
            >
              Please select a size
            </div>
          </div>
        </div>

        <!-- Additional Details -->
        <div *ngIf="selectedProduct.additionalDetails" class="mb-3">
          <label>Additional Info:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="additionalDetails"
            [placeholder]="selectedProduct.additionalDetails"
          />
          <div
            class="text-danger mt-1"
            *ngIf="showValidation && !additionalDetails"
          >
            Please provide additional details
          </div>
        </div>

        <!-- Quantity -->
        <div class="mb-3">
          <label for="quantitySelect">Quantity:</label>
          <input
            type="number"
            id="quantitySelect"
            class="form-control"
            [(ngModel)]="selectedQuantity"
            [max]="selectedProduct.stock"
            [min]="1"
          />
          <div
            class="text-danger mt-1"
            *ngIf="
              showValidation &&
              (!selectedQuantity ||
                selectedQuantity <= 0 ||
                selectedQuantity > selectedProduct.stock)
            "
          >
            Please select a valid quantity (max: {{ selectedProduct.stock }})
          </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
          <button class="btn btn-secondary" (click)="selectedProduct = null">
            Cancel
          </button>
          <button class="btn btn-primary" (click)="addToCart()">Confirm</button>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading" class="pagination-container mt-3">
      <nav *ngIf="totalCount != 0" aria-label="Page navigation">
        <ul class="pagination justify-content-center align-items-center">
          <!-- Previous Button -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button
              class="page-link"
              (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1"
            >
              Previous
            </button>
          </li>

          <!-- Page Number -->
          <li class="page-item disabled">
            <span class="page-link">
              Page {{ currentPage }} of {{ totalPages }}
            </span>
          </li>

          <!-- Next Button -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button
              class="page-link"
              (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </li>

          <!-- Total Products Badge -->
          <li class="page-item disabled ms-3">
            <span class="page-link"> Total: {{ totalCount }} </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
